<div *ngIf="!load">
  <div class="spinner">
    <img src="../../../assets//loading-buffering.gif" alt="" width="50%" />
  </div>
</div>

<div *ngIf="load" class="container mt-5">
  <a href="/payments-create-payment-request">Nueva solicitud</a>
  <div class="row">
    <div class="card">
      <div class="card-body text-center">
        <table class="table table-striped mt-3">
          <thead>
            <tr>
              <th scope="col">Red de cobro</th>
              <th scope="col">Cliente</th>

              <th scope="col">Referencia</th>

              <th scope="col">Descripcion</th>

              <th scope="col">Fecha</th>

              <th scope="col">Total</th>

              <th scope="col">Estado</th>

              <th scope="col">Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments">
              <td>{{ payment.transaccion.marca }}</td>
              <td>{{ payment.tercero.razon_social }}</td>
              <td>{{ payment.transaccion.id_transaccion_cliente}}</td>
              <td>{{ payment.descripcion }}</td>
              <td>{{ payment.fecha_creacion
              }}</td>
              <td>{{ payment.total }}</td>
              <td>{{ payment.estado }}</td>
              <td>
                <button (click)="status(payment.token)" class="btn btn-outline-secondary">Ver estado <i class="fa-solid fa-eye"></i></button>
                <button (click)="reverse(payment.token)" class="mt-2 btn btn-outline-warning">Realizar Reverso <i class="fa-solid fa-rotate-left"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


