
<main>
    <div class="container row row-cols-md-3 mb-3 text-center ">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Index</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title pricing-card-title">/payments/index<small class="text-muted fw-light"></small></h4>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Listado de todas las transacciones realizadas</li>
                </ul>
                <a href="/payments-index" class="w-100 btn btn-lg btn-outline-primary">Ir <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <!-- <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Payment request</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title pricing-card-title">/payments/create-payment-request<small class="text-muted fw-light"></small></h4>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Generación de una solicitud de pago</li>
                </ul>
                <a href="/payments-create-payment-request" class="w-100 btn btn-lg btn-outline-primary">Ir <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Status transaction</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title pricing-card-title">/payments/status-transaction<small class="text-muted fw-light"></small></h4>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Consultar el estado de una transacción</li>
                </ul>
                <a href="/payments-status-transaction" class="w-100 btn btn-lg btn-outline-primary">Ir <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Reverse</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title pricing-card-title"> /payments/reverse<small class="text-muted fw-light"></small></h4>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Devolución/extornación de una transacción</li>
                </ul>
                <a href="/payments-reverse" class="w-100 btn btn-lg btn-outline-primary">Ir <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div> -->

    </div>


</main>