
<main class="py-5 px-5">
    <div class="container row row-cols-md-3 mb-3 text-center ">

        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
              <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Index</h4>
              </div>
              <div class="card-body">
                <h4 class="card-title pricing-card-title">/payments/index<small class="text-muted fw-light"></small></h4>
                <ul class="list-unstyled mt-3 mb-4">
                  <li>Listado de todas las transacciones realizadas y crear una nueva solictud de pago</li>
                </ul>
                <a routerLink="/payments-index" class="w-100 btn btn-lg btn-outline-primary">Ir <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
              </div>
            </div>
          </div>

    </div>


</main>