<div class="container text-center">
  <h2>Generación de una solicitud de pago</h2>
  <form [formGroup]="Formulario" (ngSubmit)="enviar()">
    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">	Tipo de empresa</label>
      </div>
      <input
        type="text"
        class="form-control mb-2"
        name="companyType"
        id="companyType"
        formControlName="companyType"
        placeholder="companyType"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('companyType')?.hasError('required') &&
          Formulario.get('companyType')?.touched
        "
      >
        <span>Tipo de empresa<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Número de identificación</label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="document"
        id="document"
        formControlName="document"
        placeholder="document"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('document')?.hasError('required') &&
          Formulario.get('document')?.touched
        "
      >
        <span>Número de identificación<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Tipo de documento</label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="documentType"
        id="documentType"
        formControlName="documentType"
        placeholder="documentType"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('documentType')?.hasError('required') &&
          Formulario.get('documentType')?.touched
        "
      >
        <span>Tipo de documento<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Razón social del tarjetahabiente</label>
      </div>
      <input
        type="text"
        class="form-control mb-2"
        name="fullName"
        id="fullName"
        formControlName="fullName"
        placeholder="fullName"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('fullName')?.hasError('required') &&
          Formulario.get('fullName')?.touched
        "
      >
        <span>Razón social del tarjetahabiente<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Dirección del tarjetahabiente</label>
      </div>
      <input
        type="text"
        class="form-control mb-2"
        name="address"
        id="address"
        formControlName="address"
        placeholder="address"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('address')?.hasError('required') &&
          Formulario.get('address')?.touched
        "
      >
        <span>Dirección del tarjetahabiente<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">	Número celular del tarjetahabiente</label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="mobile"
        id="mobile"
        formControlName="mobile"
        placeholder="mobile"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('mobile')?.hasError('required') &&
          Formulario.get('mobile')?.touched
        "
      >
        <span>Número celular del tarjetahabiente<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">	Email del tarjetahabiente</label>
      </div>
      <input
        type="text"
        class="form-control mb-2"
        name="email"
        id="email"
        formControlName="email"
        placeholder="email"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('email')?.hasError('required') &&
          Formulario.get('email')?.touched
        "
      >
        <span>Email del tarjetahabiente<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Código alfanumérico único de maximo 20 caracteres</label>
      </div>
      <input
        type="text"
        class="form-control mb-2"
        name="reference"
        id="reference"
        formControlName="reference"
        placeholder="reference"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('reference')?.hasError('required') &&
          Formulario.get('reference')?.touched
        "
      >
        <span>Código alfanumérico único de maximo 20 caracteres<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Descripción del pago a realizar</label>
      </div>
      <input
        type="text"
        class="form-control mb-2"
        name="description"
        id="description"
        formControlName="description"
        placeholder="description"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('description')?.hasError('required') &&
          Formulario.get('description')?.touched
        "
      >
        <span>Descripción del pago a realizar<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Valor total a pagar </label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="amount"
        id="amount"
        formControlName="amount"
        placeholder="amount"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('amount')?.hasError('required') &&
          Formulario.get('amount')?.touched
        "
      >
        <span>Valor total a pagar <strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Valor total con impuestos</label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="amountWithTax"
        id="amountWithTax"
        formControlName="amountWithTax"
        placeholder="amountWithTax"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('amountWithTax')?.hasError('required') &&
          Formulario.get('amountWithTax')?.touched
        "
      >
        <span>Valor total con impuestos<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Valor total sin impuestos</label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="amountWithoutTax"
        id="amountWithoutTax"
        formControlName="amountWithoutTax"
        placeholder="amountWithoutTax"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('amountWithoutTax')?.hasError('required') &&
          Formulario.get('amountWithoutTax')?.touched
        "
      >
        <span>Valor total sin impuestos<strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Impuesto calculado </label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="tax"
        id="tax"
        formControlName="tax"
        placeholder="tax"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('tax')?.hasError('required') &&
          Formulario.get('tax')?.touched
        "
      >
        <span>Impuesto calculado <strong> es obligatorio</strong></span>
      </div>
    </div>

    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Red de cobro</label>
      </div>
      <input
        type="number"
        class="form-control mb-2"
        name="gateway"
        id="gateway"
        formControlName="gateway"
        placeholder="gateway"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('gateway')?.hasError('required') &&
          Formulario.get('gateway')?.touched
        "
      >
        <span>Red de cobro<strong> es obligatorio</strong></span>
      </div>
    </div>
    <button
      type="submit"
      [disabled]="Formulario.invalid"
      class="btn btn-primary btn-lg mt-2"
    >
      Enviar
    </button>
  </form>
</div>
