<div class="container text-center">
  <h2>Consultar el estado de una transacción</h2>

  <form [formGroup]="Formulario" (ngSubmit)="enviar()">
    <div>
      <div class="text-start">
        <label for="exampleFormControlInput1" class="form-label">Ingrese el token</label>
      </div>
      <input
        type="text"
        class="form-control"
        name="token"
        id="token"
        formControlName="token"
      />
      <div
        class="text-danger"
        *ngIf="
          Formulario.get('token')?.hasError('required') &&
          Formulario.get('token')?.touched
        "
      >
        <span>El token <strong>es obligatorio</strong></span>
      </div>
    </div>

    <button type="submit" [disabled]="Formulario.invalid" class="btn btn-primary btn-lg mt-2">Enviar</button>
  </form>
</div>
